
    <!-- 底部
    ================================================== -->
    
    
    <footer class="footer middle">
        <div class="container">
            <p>{:C('WEB_SITE_DESCRIPTION')}</p>
            <p><a href='{:U("index/ranking")}'>Help us to update the ranking.</a></p>
            <p class="text-muted">@2017 <a href="{:U('/');}">{:C('WEB_SITE_TITLE')}</a> E-mail:{:C('EMAIL');}</p>
            <p>{:C('__ANALYSIS__');}</p>
        </div>
    </footer>
    
    <!--Footer ADS-->
    <?php if ( isMobile() ):?>
        {:C('MOBILE_FLOAT_ADS');}
    <?php else: ?>
        {:C('PC_FLOAT_ADS');}
    <?php endif;?>
    <!--Footer ADS-->

    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/clipboard.js/1.5.10/clipboard.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="__STATIC__/assets/js/jquery.highlight.js"></script>

    <script type="text/javascript">   
        window.onload = function() {
            document.getElementById("search").focus();
        };
        $("#search").keypress(function() {
            if (event.which == 13) {
                onSearch(search, 1, "")
            }
        });
        function onSearch(id, page, order) {
            var keyword = trim($(id).val());
            console.log(keyword,1);
            if (keyword === "") {
                return;
            }
            var search = '{:U("s/-keyword-")}';
            url = search.replace("-keyword-", keyword); 
            console.log( url );
            window.location.href = url;
        }
        function trim(str){ //删除左右两端的空格
            return str.replace(/(^\s*)|(\s*$)/g, "");
        }
        var clipboard = new Clipboard('#btnCopy');
        clipboard.on('success', function(e) {
            $('#btnCopy').tooltip('show');
        })

        <?php if( isset($the_title ))://关键词高亮?>
        $(document).ready(function(){
            var key = '{$the_title}';
            $('.isSearch #list-panel').highlight(key);//显示高亮
            $('#search').val(key);
        });
        <?php endif;?>   
    </script>

    
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>
