<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title><?php if( $title ){  echo $title.'_';}?>{:C('WEB_SITE_TITLE')}</title>
<meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}" />
<meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="__STATIC__/assets/css/core.css" rel="stylesheet">
<link rel="shortcut icon" href="__STATIC__/assets/img/favicon.ico" />
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}
