<!-- 导航条
================================================== -->
<div class="header">
    <nav>
        <div class="navbar-header">
            <a href="{:U('/');}" title="{:C('WEB_SITE_TITLE')}"><img src="__STATIC__/assets/img/logo.png" alt="{:C('WEB_SITE_TITLE')}" /></a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="navbar-form  search-title">
                <input type="text" class="form-control input-md input-search square search-title-input" id="search" placeholder="Movies,actors,or What do you want ?. . .">
                <button class="btn btn-md btn-success search-btn square" onclick="onSearch(search,1,'')">Search</button>
            </div>
        </div>
    </nav>
</div>