<extend name="Base/common"/>

<block name="body">
        <!-- Index
        ================================================== -->
    <div class="container-fluid content isIndex">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="middle">
                    <div class="logo">
                        <a href="{:U('/');}" title="{:C('WEB_SITE_TITLE')}"><img src="__STATIC__/assets/img/logo.png" alt="<?php echo TITLE;?>" /></a>
                    </div>
                    <div class="middle title">
                        <!--<p>{:C('WEB_SITE_DESCRIPTION')}</p>-->
                    </div>
                    <div class="index-search">
                        <input type="text" class="form-control input-lg input-search square" id="search" name="q" placeholder="Movies,actors,or What do you want ?. . .">
                        <button type="submit" class="btn btn-lg btn-success square index-search-btn" onclick="onSearch(search,1,'x')">Search</button>
                    </div>

                </div>
                <div class="middle search">
                    
                </div>
            </div>
        </div>
    </div>
    <div class='topic-rec jads'>    
        <div class='col-md-1'></div>
        <div class="col-md-5 jads">
            <h4>Ranking</h4>
            <ul class="list-group">
                <volist name="topic" id="data">
                    <li class="list-group-item"><a href="{:U('s/'.$data['keyword']);}">{$data['keyword']}({$data['hits']})</a></li>
                </volist>
            </ul>
        </div>
        <div class="col-md-5 jads" id="recommend-list">
            <h4>Recommend</h4>
            <ul class="list-group">
            <volist name="reckeys" id="data">
                <li class="list-group-item"><a href="{:U('s/'.$data);}" title='{$data}'><span>{$data}</span></a></li>
            </volist>
            </ul>
        </div>
    </div>
</block>
