<extend name="Base/common"/>

<block name="body">
    <!-- Show
    ================================================== -->
    <div class="container-fluid content isShow">
        <include file='Public/header'/>
        <?php 
            $the_hash = 'magnet:?xt=urn:btih:'.$data['infohash'];
            $the_files = json_decode($data['files'],TRUE);
            $the_href = str_replace(array('Index/Show/','index/show/'),'',U('Index/Show',array('show'=>$data['infohash'])));
        ?>
        <div class="row  custom-panel">
            <div class="col-md-8">
                    <div class="panel-body" id="list-panel">
                        <h4><a href="{$the_href}" title="{$the_title}">{$the_title}</a><h4>
                        <p></p>
                        </br>
                        <div class="panel panel-default">
                            <div class="panel-heading">Magnet Link</div>
                            <div class="panel-body">
                                <a href="{$the_hash}" id="magnet" title="{$the_title}">{$the_hash}</a>
                                </br>
                                </br>
                                <button class="btn btn-success btn-md infohash-button square" data-clipboard-text="{$the_hash}" data-placement="bottom" id="btnCopy" title="Copy Magnet">
                                    Copy Magnet
                                </button>
                                <a href="{$the_hash}" title="{$the_title} Download" type="button" class="btn btn-md btn-success infohash-button square" id="download">Download</a>
                            </div>
                            <include file='Public/ads'/>
                        </div>
                        <p>Time:<span class="listinfo">{$data["update_time"]}</span></p>
                        <div class="panel panel-default">
                            <div class="panel-heading">File List:</div>
                            <div  class='file_list'>
                                <ul id="file-list" class='file_list'>
                                    <volist name='the_files' id='files'>
                                    <li>{$files['path'][0]} {$files['path'][1]} ({$files['length']})</li>
                                    </volist>
                                </ul>
                            </div>
                        </div>                    
                    </div>
            </div>
            
            <div class='col-md-1'></div>
            <div class="col-md-3">
                <include file='Public/ads'/>
                <h4>Ranking</h4>
                <ul class="list-group">
                    <volist name="topic" id="data">
                        <li class="list-group-item"><a href="{:U('s/'.$data['keyword']);}">{$data['keyword']}({$data['hits']})</a></li>
                    </volist>
                </ul>
                
                <h4>Recommend</h4>
                <ul class="list-group">
                <volist name="reckeys" id="data">
                    <li class="list-group-item"><a href="{:U('s/'.$data);}" title='{$data}'><span>{$data}</span></a></li>
                </volist>
                </ul>
            </div>
            
            
        </div>
    </div>
       
</block>        