<extend name="Base/common"/>

<block name="body">
    <!-- Show
    ================================================== -->
    <div class="container-fluid content isShow">
        <include file='Public/header'/>
        <?php 
            $the_hash = 'magnet:?xt=urn:btih:'.$data['infohash'];
            $the_files = json_decode($data['files'],TRUE);
            $the_href = str_replace(array('Index/Show/','index/show/'),'',U('Index/Show',array('show'=>$data['infohash'])));
        ?>
        <div class="row  custom-panel">
            <div class="col-xs-6 col-md-1"></div>
            <div class="col-xs-6 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body" id="list-panel">
                        <h4><a href="{$the_href}" title="{$the_title}">{$the_title}</a><h4>
                        <p></p>
                        </br>
                        <div class="panel panel-default">
                            <div class="panel-heading">Magnet Link</div>
                            <div class="panel-body">
                                <a href="{$the_hash}" id="magnet" title="{$the_title}">{$data['name']}</a>
                                </br>
                                </br>
                                <button class="btn btn-success btn-md infohash-button square" data-clipboard-text="{$the_hash}" data-placement="bottom" id="btnCopy" title="Copy Magnet">
                                    Copy Magnet
                                </button>
                                <a href="{$the_hash}" title="{$the_title} Download" type="button" class="btn btn-md btn-success infohash-button square" id="download">Download</a>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">File List:</div>
                            <div  class='file_list'>
                                <ul id="file-list" class='file_list'>
                                    <volist name='the_files' id='files'>
                                    <li>{$files['path'][0]} {$files['path'][1]} ({$files['length']})</li>
                                    </volist>
                                </ul>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
       
</block>        